{% extends "TasksApp/layout.html" %}

{% block body %}


<div id="main_table">
<form action="{% url 'TasksApp:index' %}" method="post" >
    {% csrf_token %}

<table>
    <thead>
        <th>Items</th>
    <th>Mark Completed</th></thead>
    <tbody>
        {%for item in tasks %}
        <tr>
            
            <td>{{item}}</td>
            <td><Button type="submit" name="done_task" value="{{ item }}">Done</Button></td>
        </tr>
        {%empty%}
        <tr><td>-</td><td>No items today</td><td>-</td></tr>
    

    {% endfor %}
</tbody>
</table>
</form>
</div>

<div id="links_add">
<a href="{% url 'TasksApp:add' %}">Add New Task</a>
</div>
{% endblock %}